<div class="row">
    <div class="col-xs-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="checkActiveLink('/ticket/my-tickets')">
                <a href="#/ticket/my-tickets">Tickets assigned</a>
            </li>
            
            <li role="presentation" ng-class="checkActiveLink('/ticket/tickets-following')">
                <a href="#/ticket/tickets-following">Tickets following</a>
            </li>
        </ul>
    </div>
</div>
