<div ng-include="ticketDetailsTab" scope="" onload=""></div>

<div class="row">
    <div class="col-sm-12">
        <h3>Ticket Attachments</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" ng-hide="showAttachments">
        <i class="fa fa-refresh fa-spin fa-5x"></i>
    </div>

    <div class="col-sm-12" ng-show="attachmentList">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Attachments</th>

            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="attach in attachmentList">

                <td>
                    <a href="/download/{{attach.file_id}}">
                    <span class="fa fa-file"></span>
                    {{(attach.client_file_name!='') ? attach.client_file_name : attach.file_name}}
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
