<div ng-include="ticketDetailsTab" scope="" onload=""></div>

<div ng-show="showTicketForm">

    <div class="row">
        <div class="col-sm-12">
            <h3>Discussions: #{{ newTicket.id }}:{{newTicket.title}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" ng-show="showComments">

            <form>
                <h4>Conversations</h4>

                <div class="conversation-add">
                    <div text-angular ng-model="conversation.conversationDesc"
                    ta-toolbar="[]"
                    style="font-size: 1em"></div>
                </div>
                <br>

                <div>
                    <label class="btn btn-primary" for="my-file-selector">
                        <input id="my-file-selector"
                        ng-model="conversation.file" ngf-select ngf-multiple="true" style="display:none;" ngf-keep="true">
                        <span class="fa fa-paperclip fa-lg"></span>
                        Attachment
                    </label>

                    <span ng-repeat="f in conversation.file">
                        <div class='label label-info' >{{f.name}}
                            <span ng-click="removeFile(f)"><i class="fa fa-times"></i></span>
                        </div>
                    </span>


                </div>
                <br>
                <button class="btn btn-success" ng-click="submitConversation()">Add</button>

            </form>

            <hr>
            <h5>Previous comments</h5>
            <div ng-repeat="(key, value) in ticketComments" class="panel panel-default">
                <div class="panel-body comment">
                    <div ng-bind-html="value.comment | unsafe"></div>

                    <div ng-repeat="attach in ticketAttachments[value.id]">
                        <a href="{{attach.file_path}}" target="_blank">
                            <span class="fa fa-file"></span>
                            {{(attach.client_file_name!='') ? attach.client_file_name : attach.file_name}}
                        </a>
                    </div>

                    <hr>
                    <div class="comment-meta-data">
                        By <strong>{{value.name}}</strong> {{ timeAgo(value.created_at) }}
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
