<div ng-include="ticketDetailsTab" scope="" onload=""></div>

<div ng-show="showTicketForm">

    <div class="row">
        <div class="col-sm-12">
            <h3>Discussions: #{{ newTicket.id }}:{{newTicket.title}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" ng-show="showComments">

            <form>
                <h4>Conversations</h4>

                <div class="conversation-add">
                    <div text-angular ng-model="conversation.conversationDesc"
                         ta-toolbar="[]"
                         style="font-size: 1em"></div>
                </div>
                <br>

                <div>
                    <label class="btn btn-primary" for="my-file-selector">
                        <input id="my-file-selector" name="file" ng-file-model="conversation.file"
                               ng-model="conversation.file" ngf-select  style="display:none;"
                                >
                        <span class="fa fa-paperclip fa-lg"></span>
                        Attachment
                    </label>
                    <span class='label label-info'>{{upload_file_name}}</span>
                </div>
                <br>
                <button class="btn btn-success" ng-click="submitConversation(conversation.file)">Add</button>

            </form>


            <hr>
            <h5>Previous comments</h5>
            <div ng-repeat="(key, value) in ticketComments" class="panel panel-default">
                <div class="panel-body comment">
                    <div ng-bind-html="value.comment | unsafe"></div>
                    <div class="comment-meta-data">
                        By <strong>{{value.name}}</strong> {{ timeAgo(value.created_at) }}
                    </div>

                    <div class="attachments" ng-show="value.file_name != null">
                        <ul class="fa-ul attachments-ul">
                            <li>
                                <a href="/download/{{value.file_id}}">
                                    <i class="fa fa-li fa-file"></i>
                                    {{(value.client_file_name!='') ? value.client_file_name : value.file_name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
